@model IEnumerable<Model.Class>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassForm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClassNum)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassForm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClassNum)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassForm  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.ClassForm  }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ClassForm });
        </td>
    </tr>
}
</table>