@model IEnumerable<Model.SelectSub>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student.StuName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sub.SubName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student.StuName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sub.SubName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SelectSubID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SelectSubID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SelectSubID })
        </td>
    </tr>
}

</table>
